node_modules/
package-lock.json
npm-debug.log*

front-end/.next/
front-end/.env
front-end/package-lock.json

back-end/node_modules/
back-end/dist/
back-end/log/
back-end/logs/
back-end/.env
back-end/.env.dev
back-end/.env.prod
back-end/package-lock.json


.env
*.log

.vscode/
.idea/
