@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: 'Inter', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.ql-toolbar,
.ql-container {
  border: none !important;
}

.ql-toolbar {
  border-bottom: 1px solid #e5e7eb;
  border-radius: 0.5rem 0.5rem 0 0;
}

.ql-editor {
  min-height: 16rem;
}

body {
  font-family: var(--font-inter);
}
